.card {
  width: 80px;
  height: 80px;
  border: 2px solid #333;
  border-radius: 8px;
  background-color: #f0f0f0;
  align-content: center;
  font-size: 36px;
}
.card.matched {
  border-color: green;
  background-color: lightgreen;
}
.front-card {
  -webkit-user-select: none;
  user-select: none;
  backface-visibility: hidden;
}

.back-card {
  background-color: white;
}
