.card {
  width: 70px;
  height: 70px;
  border: 2px solid #333;
  border-radius: 8px;
  background-color: #f0f0f0;
  align-content: center;
}
.front-card {
  backface-visibility: hidden;
}
.back-card {
  background-color: white;
}
