.card {
  width: 84px;
  height: 120px;
  border: 2px solid #333;
  border-radius: 8px;
  background-image: url('../src/assets/playingcard.png');
  background-size: 100% 100%;
  align-content: center;
  font-size: 36px;
}
.card:hover {
  cursor: pointer;
}
.card.matched {
  border-color: green;
  background-color: lightgreen;
}

.front-card {
  -webkit-user-select: none;
  user-select: none;
  backface-visibility: hidden;
  background-color: white;
  height: 100%;
  text-align: center;
  align-content: center;
  border-radius: 7px;
}

.back-card {
  backface-visibility: hidden;
}
