.player-infor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  margin-top: 0;
  gap: 16px;
}
.players-container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-left: 2rem;
  width: 304px;
  gap: 1rem;
}
.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid white;
  /* border-color: white;
  border-width: 2px; */
  display: inline-block;
  margin-right: 8px;
}
.player-1-container,
.player-2-container {
  width: 100%;
  display: flex;
  font-size: 1.25rem;
  justify-content: space-between;
  align-items: center;
}
.player-1-container div,
.player-2-container div {
  display: flex;
  align-items: center;
}
.player-1-container.turn {
  .circle {
    background-color: #c03221;
  }
}
.player-2-container.turn {
  .circle {
    background-color: #fafffd;
  }
}
