.player-infor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  gap: 16px;
}
.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid white;
  /* border-color: white;
  border-width: 2px; */
  display: inline-block;
  margin-right: 8px;
}
.player-1-container {
  display: flex;
  justify-content: center;
}
.player-2-container {
  display: flex;
  justify-content: center;
}
.player-1-container.turn {
  .circle {
    background-color: palevioletred;
  }
}
.player-2-container.turn {
  .circle {
    background-color: #1976d2;
  }
}
